@model DiziFilm.Project.Web.UI.Models.FilmIndexViewModel

@{
    Layout = "_Layout";
}

<ul>


    @foreach (var item in Model.FilmListesi)
    {
        <li>
            <hr />
            <p>Name :  @item.Name</p>
            <p>Category : @item.Category</p>
            <p>Detail : @item.Detail</p>
            <p>Fragman : @item.Fragman</p>
            <p>id : @item.id</p>
            <hr />
        </li>
    }

</ul>